table {
  width: 100%;
  border-radius: 4px;
  overflow: clip;
  margin-block-start: var(--spacing);
  outline: 1px solid var(--background-elevation4);
  outline-offset: -1px;

  &:first-child {
    margin-block-start: 0;
  }

  th, td {
    text-align: left;
    padding: 0.75rem;
    color: var(--text-default);
    font-size: 0.875rem;
  }

  th {
    font-weight: bold;
  }

  td {
    vertical-align: top;
  }

  tr {
    background-color: var(--background-elevation3);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--background-elevation2);
  }

}