---
title: Tables
date: 2024-01-01
tags: field
---

<h2>Examples</h2>
<p>Below are some examples of tables.</p>

<table>
  <thead>
    <tr>
      <th>Ship Name</th>
      <th>Model</th>
      <th>Crew Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CR90 corvette</td>
      <td>CR90 corvette</td>
      <td>30-165</td>
    </tr>
    <tr>
      <td>Star Destroyer</td>
      <td>Imperial I-class Star Destroyer</td>
      <td>47,060</td>
    </tr>
    <tr>
      <td>Millennium Falcon</td>
      <td>YT-1300 light freighter</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Y-wing</td>
      <td>BTL Y-wing</td>
      <td>2</td>
    </tr>
    <tr>
      <td>X-wing</td>
      <td>T-65 X-wing</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Rebel transport</td>
      <td>GR-75 medium transport</td>
      <td>6</td>
    </tr>
  </tbody>
</table>

{% highlight html %}
<table>
  <thead>
    <tr>
      <th><!-- Table Cell Content --></th>
      <th><!-- Table Cell Content --></th>
      <th><!-- Table Cell Content --></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><!-- Table Cell Content --></td>
      <td><!-- Table Cell Content --></td>
      <td><!-- Table Cell Content --></td>
    </tr>
  </tbody>
</table>
{% endhighlight %}
