.menu_list {
  margin: 0;
  margin-block-start: var(--spacing);
  list-style: none;

  li {
    margin-block-start: calc(var(--spacing) * 0.5);
  }

  li:first-child {
    margin-block-start: 0;
  }

  a {
    text-decoration: none;
    color: var(--text-secondary);
  }

  .active a {
    font-weight: bold;
    color: var(--text-link);
  }

}